<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minip.Ddingflix.model.mapper.ContentMapper">
  
    
  <select id="getList" resultType="ContentDTO">
  	SELECT * FROM (SELECT CONTENT_ID, C.CONTENT_TITLE, C.CONTENT_UPLOAD_DATE FROM CONTENT C RIGHT JOIN ENTERTAINMENT USING(CONTENT_ID) ORDER BY CONTENT_UPLOAD_DATE DESC FETCH FIRST 5 ROWS ONLY) UNION SELECT * FROM (SELECT CONTENT_ID, C.CONTENT_TITLE, C.CONTENT_UPLOAD_DATE FROM CONTENT C RIGHT JOIN MOVIE USING(CONTENT_ID) ORDER BY CONTENT_UPLOAD_DATE DESC FETCH FIRST 5 ROWS ONLY)UNION SELECT * FROM (SELECT CONTENT_ID, C.CONTENT_TITLE, C.CONTENT_UPLOAD_DATE FROM CONTENT C RIGHT JOIN DOCUMENTARY USING(CONTENT_ID) ORDER BY CONTENT_UPLOAD_DATE DESC FETCH FIRST 5 ROWS ONLY)
  </select>	
  
</mapper>